files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_job.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      sed -i -e 's/keepalive_timeout   65/keepalive_timeout   125/g' /etc/nginx/nginx.conf;

container_commands:
  01_execute_99_delayed_job.sh:
    command: "bash /opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_job.sh"
  02_reload_nginx:
    command: "sudo service nginx reload"
