<div class="row">
<h3> Create New COUNTER Connection </h3>
</div>
<button class="sushi_button btn btn-primary">New Connection</button>
<button class="validsushi_button btn btn-primary">Import Connection</button>
<%= render "sushi_new" %>
<%= render "validsushi_new" %>
