<h1> Edit User Profiles </h1>
<%= form_for (@user) do |f| %>
  <label>
    Name
    <%= f.text_field :name %>
  </label>
  <label>
    Organization
    <%= f.text_field :organization %>
  </label>
  <label>
    <%= f.submit "Edit" %>
  </label
<% end %>
