<div class="row">
<h3> Edit User Profiles </h3>
</div>
<%= form_for (@user) do |f| %>
<div class='form-group'>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
</div>
<div class='form-group'>
  <%= f.submit "Update", class: 'btn btn-primary' %>
</div>
<% end %>
