<div class="row">
  <h3> User Profile </h3>
</div>
<div class="row header">
  <div class="col-lg-3">
    <h6>Name</h6>
  </div>
  <div class="col-lg-3">
    <h6>Organization</h6>
  </div>
  <div class="col-lg-3">
    <h6>Action</h6>
  </div>
</div>
<div class="row data">
  <div class="col-lg-3">
    <p><%= @user.name %></p>
  </div>
  <div class="col-lg-3">
    <% if current_organization %>
      <%= link_to "#{@user.organization.name}", organization_path(current_organization.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-lg-3">
    <p><%= link_to 'Edit Profile', edit_user_path(current_user.id), class: 'btn btn-primary' %></p>
    <% if current_organization %>
      <p><%= link_to 'Edit Organization', edit_organization_path(current_organization.id), class: 'btn btn-primary' %></p>
    <% end %>
  </div>
</div>
