<h1> Create Profile </h1>
<%= form_for @user, url: {action: "create"} do |f| %>
  <label>
    Name
    <%= f.text_field :name %>
  </label>
  <label>
    Organization
    <%= f.text_field :organization %>
  </label>
  <label>
    <%= f.submit "Create" %>
  </label
<% end %>
