<div class="row">
  <h3>About</h3>
</div>
<div class="row">
  <p> FetchCounter is a website that lets you store your SUSHI connection information and quickly fetch COUNTER reports. </p>
</div>
<div class="row">
  <h3>FAQ</h3>
</div>
<div class="row">
  <p class="faq">What type of COUNTER reports does FetchCounter support?</p>
</div>
<div class="row">
  <p>JR1. Hopefully we'll be able to add BR2 and DB1 shortly.</p>
</div>
<div class="row">
  <p class="faq">Where do I get SUSHI connection information like my Customer ID and Requestor ID?</p>
</div>
<div class="row">
  <p>Each vendor is different and lists their connection information in different places. In general, you can get this information from your vendor's admin platfrom in the COUNTER tab, or by emailing your vendor rep.</p>
</div>
<div class="row">
  <p class="faq">Why aren't my COUNTER requests working?</p>
</div>
<div class="row">
  <p>It depends. My general troubleshooting advice is to read the error message closely and double check your connection information. If your COUNTER request times out, there's a good chance the vendor's server is not responding at this moment and you can just try again in a few hours. For any other issues, please contact me directly at the email listed below.</p>
</div>
<div class="row">
  <p class="faq">Why do my test connections work, but when I download a CSV or TSV they don't have any data?</p>
</div>
<div class="row">
  <p>Your Customer ID or your Requestor ID are incorrect. Double check that they match the information supplied by your vendor.</p>
</div>
<div class="row">
  <p class="faq">What about COUNTER Release 5?</p>
</div>
<div class="row">
  <p>Release 5 will become mandatory in 2019. There will be many changes to both COUNTER and SUSHI in Release 5, but getting data from SUSHI connections should actually become much easier. I'm hopeful that this site will actually be more useful shortly after Release 5, but that will not be until at least the Spring of 2019. See here for a <a class="text-secondary" href="https://www.projectcounter.org/counter-release-5-webinar-publishers-2/">webinar with more information on Release 5.</a></p>
</div>
<div class="row">
  <h3> Contact </h3>
</div>
<div class="row">
  <p> mking9[@]iit.edu </p>
</div>
