<% if current_user %>
<div class="row">
  <h3>How to Create COUNTER Connections</h3>
</div>
<div class="row">
  <p> <b>Step 1:</b> Click on 'New COUNTER Connection' in the header or Click on 'Import COUNTER Connections' </p>
</div>
<div class="row">
  <p> <b>Step 2:</b> Fill in data (example below) </p>
</div>
<div class="row">
  <p> <b>Step 3:</b> Click 'Test Connection' </p>
</div>
<div class="row">
  <p> <b>Step 4:</b> If connection is successful, click 'Get COUNTER Report' </p>
</div>
<div class="row header">
  <div class="col-lg-1">
    <h6>Name</h6>
  </div>
  <div class="col-lg-2">
    <h6>Endpoint</h6>
  </div>
  <div class="col-lg-2">
    <h6>Customer ID</h6>
  </div>
  <div class="col-lg-2">
    <h6>Requestor ID</h6>
  </div>
  <div class="col-lg-2">
    <h6>Report Start</h6>
  </div>
  <div class="col-lg-2">
    <h6>Report End</h6>
  </div>
  <div class="col-lg-1">
    <h6>Password</h6>
  </div>
</div>
<div class="row data">
  <div class="col-lg-1">
    <p>JSTOR</p>
  </div>
  <div class="col-lg-2">
    <p>https://www.jstor.org/sushi</p>
  </div>
  <div class="col-lg-2">
    <p>YOUR_CUST_ID (optional)</p>
  </div>
  <div class="col-lg-2">
    <p>YOUR_REQ_ID</p>
  </div>
  <div class="col-lg-2">
    <p>YYYY-MM-DD</p>
  </div>
  <div class="col-lg-2">
    <p>YYYY-MM-DD</p>
  </div>
  <div class="col-lg-1">
    <p>YOUR_PASSWORD (optional)</p>
  </div>
</div>
<% else %>
<div class="jumbotron text-center">
  <h3>FetchCounter</h3>
  <p>Authenticate via Google to get started</p>
  <p>Set up COUNTER connections with SUSHI to quickly download COUNTER reports.</p>
</div>
<% end %>
