<% if signed_in? %>
<div class="row">
  <h3>How to Create COUNTER Connections</h3>
</div>
<div class="row">
  <p> <b>Step 1:</b> Select <%= link_to 'New Connection', new_sushi_path, class: 'btn btn-outline-primary btn-sm' %> </p>
</div>
<div class="row">
  <ul>
  <li><b>New Connection</b> sets up a connection from scratch.</li>
  <li><b>Import Connection</b> allows you to select from our library of common connections. Note: if you import a connection you will need to edit it to include unique identifiers such as Customer ID and Password. </li>
</ul>
</div>
<div class="row">
  <p> <b>Step 2:</b> Fill in data. For most connections you'll need: </p>
</div>
<div class="row">
  <ul>
    <li>Database Name</li>
    <li>Endpoint</li>
    <li>Customer ID</li>
    <li>Requestor ID</li>
    <li>Report Start and End Dates</li>
    <li>Password (Optional)</li>
  </ul>
</div>
<div class="row">
  <p> <b>Step 3:</b> The connections you have added can be found in <%= link_to 'Connections', sushi_index_path, class: 'btn btn-outline-primary btn-sm' %> From there you can edit, test, and delete connections, as well as access reports. Reports can be downloaded as CSV files. </p>
</div>
<div class="row">
  <p> <b>Step 4:</b> If connection is successful, you can access your reports by clicking <b>Get CSV Report</b>.</p>
</div>
</div>
<% else %>
<div class="jumbotron text-center">
  <h3>FetchCounter</h3>
  <p><%= link_to 'Login', '/auth/google', class: 'btn btn-primary btn-sm' %> with Gmail to get started</p>
  <p>FetchCounter is a tool to that allows libraries to easily access e-resource usage data.</p>
  <p>Set up COUNTER connections with SUSHI to quickly download COUNTER reports.</p>
</div>
<% end %>
