/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$enable-flex: true;
$link-color: white;

@import "bootstrap";
@import "spinner.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

$btn-color: #323d72;

label.required:after {
  content: "*";
  color: red;
}

.col-lg-2 {
  overflow-wrap: break-word;
 }

.alert {
   width:100%;
}

.turbolinks-progress-bar {
  height: 10px;
  background-color: #2ecc71;
}

.btn {
  margin-bottom: 1px;
  margin-right: 2px;
  background-color: $btn-color;
  border-color: $btn-color;
}

.btn:hover {
  background-color: #2a3460;
  border-color: #2a3460;
}

.btn-danger {
  background-color: #8c0000;
  border-color: #8c0000;
}

.btn-danger:hover {
  background-color: #720000;
  border-color: #720000;
}

.btn-outline-primary {
  background-color: #ffff;
  border-color: $btn-color;
  color: $btn-color;
}

.alert-info a{
  color: #212529;
  text-decoration: underline;
}

.alert-success a{
  color: #212529;
  text-decoration: underline;
}

p.faq{
  font-style: italic;
}

h3{
  color: #325d72;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

body, nav{
  font-family: 'Roboto', sans-serif;
}

footer{
  //Account for body content so there is no overlap
  margin-top: 60px;
}

.row.data{
  padding-top: 5px;
  border-top: 1px solid #ddd;
}

.nav-item.nav-link.active{
  background-color: #325d72;
  border-radius: 5px;
}

.modal-header{
  background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 975px) {
  .row.header { display: none; }   /* hide it elsewhere */
}
